<div>
    <div class="row">
        <div class="col-md-4">
            <span class="heart img-fluid img-rounded"></span>
        </div>
        <div class="col-md-8">
            <div class="col-md-11 p-0">
                <jhi-alert></jhi-alert>
            </div>
            <h1 jhiTranslate="home.welcome" *ngIf="!isAuthenticated()">Welcome, Java Hipster!</h1>
            <h1 jhiTranslate="home.welcomeWithName" *ngIf="isAuthenticated() && account" translateValues="{name: '{{account.firstName}}'}">Welcome, Java Hipster!</h1>

            <p class="lead" jhiTranslate="home.subtitle">This is your homepage</p>
            <div [ngSwitch]="isAuthenticated()">
                <div *ngSwitchCase="true">
                    <div class="row">
                        <div class="col-md-8 col-xs-6">
                            <h4 jhiTranslate="home.points.thisWeek" class="mt-1 hidden-sm-down" translateValues="{date: '{{pointsThisWeek.week | date: 'longDate'}}'}">
                                Points for the week of {{pointsThisWeek.week | date: 'longDate'}}:
                            </h4>
                            <h4 jhiTranslate="home.points.thisWeekMobile" class="mt-1 hidden-sm-up" translateValues="{date: '{{pointsThisWeek.week | date: 'longDate'}}'}">
                                Points for {{pointsThisWeek.week | date: 'longDate'}}:
                            </h4>
                        </div>
                        <div class="col-md-3 text-right">
                            <a [routerLink]="['/', { outlets: { popup: ['points-new'] } }]" class="btn btn-primary m-0 mb-1 text-white">Add Points</a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-11">
                            <ngb-progressbar max="21" [value]="pointsThisWeek.points" [striped]="true" [type]="pointsThisWeek.progress" [hidden]="!pointsThisWeek.points">
                                <span *ngIf="pointsThisWeek.points">
                                    {{pointsThisWeek.points}} / Goal: {{preferences.weeklyGoal}}
                                </span>
                            </ngb-progressbar>
                            <ngb-alert [dismissible]="false" [hidden]="pointsThisWeek.points">
                                <span jhiTranslate="home.points.getMoving">
                                    No points yet this week, better get moving!</span>
                            </ngb-alert>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
